<div class="auth-container">
  <h2>Register</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <input type="email" placeholder="Email" formControlName="email" />
    <input type="password" placeholder="Password" formControlName="password" />

    <button type="submit" [disabled]="form.invalid">
      Register
    </button>

  </form>

  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>

  <p>
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</div>
